@use '@/styles/breakpoints.scss';

// .canvas {
//   width: 100svw;
//   height: 70svh;
//   background-color: hsl(var(--color-neutral-800));
// }

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
}

.main {
  display: flex;
  flex-direction: row;      /* 關鍵：讓子元素橫向並排 */
  align-items: center;      /* 讓文字與圓圈在垂直方向居中對齊 */
  justify-content: center;
  min-height: calc(100svh - var(--spacing-3xl)); 
  width: 100%;

  // 當螢幕寬度小於斷點（手機版）時，自動切換回上下堆疊
  @media (max-width: breakpoints.$md) {
    flex-direction: column;
  }
}

.canvas_container {
  width: 100svw;
  height: 100svh;
  background-color: black;

  @media (max-width: breakpoints.$md) {
    aspect-ratio: 1 / 1;
    height: 100%;
  }
}

.container {
  width: 50%;
  padding: var(--spacing-2xl);
  display: flex;             
  flex-direction: column;    
  justify-content: center;   


  h1 {
    font-size: 3rem;
    margin-bottom: var(--spacing-m); 
  }
  p {
    color: hsl(0, 0%, 53%);
    line-height: 1.6; 
  }



  @media (max-width: breakpoints.$md) {
    width: 100%;
    padding: var(--spacing-xl);
    
  
    h1 {
      font-size: 2.5rem;
    }
    
  }
  
}


@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}